.ChatMessageMainContainer,.ChatMessageMainSenderContainer
{
    display: flex;    
    justify-content: flex-start;    
.ChatMessageDivContainer
{
    display: flex;
    justify-content: flex-start;
    padding: 10px !important;
    max-width: 65%;

    @media(max-width:550px)
    {
        & {
            max-width: 90%;
        }
    }
    
    .ChatMessageDivUserInfo
    {
        .ChatMessageUserProfile
        {
            width: 30px;
        }
        display: flex;
     .ChatMessageDivUsername{

          margin-left: 10px !important;
         .ChatMessageUserNameTitle
         {
             font-size: 12px;
             margin-left: 10px !important;
             line-height: 15px !important;

             span
             {
                 font-size: 8px;
                 margin-left: 5px !important;
             }
         }
         .ChatMessageContent
         {
             line-height: 18px !important;
             background-color: rgb(196, 212, 218);
             padding: 5px !important;
             border-radius: 5px !important;
             font-size: 13px;
             word-break: normal;
             
             max-width: 100%;
         }
     }   
    }

    .ChatMessageMoreOutlined
    {
        cursor: pointer;
        font-size: 16px;
        color: white;
    }
}
}

.ChatMessageMainSenderContainer
{
    justify-content: flex-end;
}