.questionContainer
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 10px;

    .dashQuestionLabel
    {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0px !important;
        cursor: pointer;

        span
        {
            color: red;
            font-size: 18px;
        }
    }
    @media(max-width:786px)
    {
        & 
        {
            width: 98%;
        }
    }

    .textArea_class
    {
        font-size: 12px;
        max-height: max-content;
        min-height: 20px;
        resize: vertical;
        font-weight: bold;
    }

    .dashAnswersContainer
    {
    .dashAnswerInputBox
    {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;

        input
        {
            width: 80%;
            @media(max-width:786px)
            {
                &
                {
                    width: 85%;
                }
            }
        }        
        .checkIcon
        {            
            width: 35px;
            padding: 10px;
        }
    }
}
}