.sidebar
{
    height: calc(100vh - 80px);
    z-index: 9999999;
    margin-top: 50px !important;
    transform: translateX(0px);
    transition: 2s;
    width: 400px;
    img
    {
        width: 200px;
        height: 200px;
        object-fit: contain;
        margin-right: 40px !important;
    }
}

.sidebar_close
{
    margin-top: 50px !important;
    height: calc(100vh - 80px);
    transform: translateX(-230px);
    transition: 2s;    


}

// .sidebar
// {
    
//     width: 15%;
//     border-right: 1px solid gray;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     .sidebar-top
//     {
//         height: 50px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         border-bottom: 1px solid gray;
//         .sidebar-logo
//         {
//             h5
//             {
//                 font-size: 18px;
//                 letter-spacing: 2px;
//                 cursor: pointer;
//                 color: #2b4acb;

//                 font-weight: bold;
//             }
//         }
//     }
//     .sidebar-middle
//     {
//         flex: 1;
//     }
// }