.YouTubeVideoListTop
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 9999;

    .YouTubeVideoSelector
    {
        width: 20%;
    }
}