.CreateProfileDetail
{        
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 99999;

    .EditUserProfileSwitch
    {
        display: flex;
        justify-content: flex-end;        
    }
    .userData
    {
        display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
        margin-top: 10px !important;        
        .UserData__Avatar
        {
            width: 120px;
            height: 120px;
        }
        text-align: center;
    }
    
    form
    {
        width: 100%;        

        .InputFields
        {
            width: 100%;

            margin-top: 15px;
            label
            {
                font-size: 14px;
                font-weight: 700;
                color: red;
            }
            input
            {
                border: none;
            }
            .CreateProfile__Select
            {
                display: block;
                border: 2px solid black;
                width: 100%;
            }

            .CreateProfileDetail__radio
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }                            
        }
        button
        {
            margin: 20px 0px;
            width: 220px;
            background-color: red;
            border-radius: 10px;
            color: blue;
            font-weight: bold;
        }
    }
}