.InputComponentContainer
{
    display: flex;
    flex-direction: column;   
    margin-top: 10px !important;
    p
    {
        font-weight: bold;
        margin-bottom: 2px !important;
        font-style: italic;
    }
}
