.DashChatUser
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px !important;
    margin-top: 10px !important;

.DashChatUserTop
{
    display: flex;
    align-items: center;

    .DashChatUserName
    {
        margin-left: 10px !important;
        font-weight: bold;
    }    

    .DashChatUserInfo
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px !important;
        margin-bottom: 5px !important;
        @media(max-width:400px)
        {
            width: 200px;
        }        
        word-break: break-all;
        .DashChatUserEmail
        {
            font-weight: 600;       
            font-size: 14px; 
           
            word-wrap: break-word;
        }   
    }
}
border-bottom: 1px solid gray;
}