.widgetComp
{
    border: 1px solid lightgrey;
    box-shadow: 5px 5px;
    padding: 10px;
    margin: 10px;
    width: 30%;
    box-shadow: -5px 7px 12px -1px rgba(69,63,63,0.39);
    -webkit-box-shadow: -5px 7px 12px -1px rgba(69,63,63,0.39);
    -moz-box-shadow: -5px 7px 12px -1px rgba(69,63,63,0.39);

    @media(max-width:786px)
    {
        &
        {
            
            width: 85%;
        }
    }

    .widget-header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span
        {
            color: gray;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .widget-content
    {
        h5
        {
            color: gray;
            font-size: 14px;

            span
            {
                margin-left: 6px;
                color: black;
            }
        }
    }
}