.createpdf
{
    width: 100%;
    form
    {
        width: 100%;        
        @media(max-width:800px)
        {
            & 
            {
                margin: auto;
                width: 95%;
            }
        }
        .PdfInputDiv
        {
            display: flex;            
            flex-direction: column;
            margin-top: 10px;
            label 
            {
                margin: 5px 0px;
                font-size: 16px;
            }
            input
            {
                flex: 1;
                border: none;
                outline-width: 0px;
                border-bottom: 1px solid gray;
                font-size: 18px;
                outline-width: 0px;
            }

            .fileInput
            {
                display: flex;
                align-items: center;

                .icon
                {
                    
                    cursor: pointer;
                    font-size: 30px;
                    color: black;
                    font-weight: bold;
                }
            }
        }

        .CreatePdfBtn
        {
            margin-top: 12px;
            background-color: green;
            border-radius: 10px;
            height: 35px;
        }
    }
}