.App
{
    .app-layout
    {
        width: 100%;
        display: flex;       
    }
    .app-layout-right
    {        
        display: flex;
        flex-direction: column;
        
        .app-right-component
        {                
            overflow-x: hidden;
            background-color: rgb(41, 45, 62);
            position: fixed;
            top: 50px;
            bottom: 0px;
            right: 0px;
            left: 0%;
            overflow-y: auto;                               
        }
    }
}

.red{
    color: red;
    background-color: black;
}

.ShowDrawerSpinner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.ShowLoadMoreButton
{
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
}


.GoogleButtonAuthUser
{        
    background-color: red !important;
    border-color: white !important;        
    div
    {
        margin-right: 2px !important;
        background-color: transparent !important;
        svg    
        {
            display: block !important;
        }      
    }
    span
    {
        color: white;
        font-size: 14px;
    }  
}

.main-header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;    
    z-index: 999;
    height: 50px;
    border-bottom: 1px solid black;                   
    align-items: center;
}        


button
{
    border-radius: 30px !important;
    border-color: gray;
    background-color: lightblue;
}

.disCallCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}