.blog_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    .blogs
    {
        width: 70%;
        margin: auto;
        margin-top: 20px !important;
        @media(max-width : 786px)
        {
            width: 88%;
        }
        .blog_div_container
        {
            margin-bottom: 50px !important;
            padding: 3px;
            .sun-editor
            {
                border-radius: 6px !important;
            }
            .blog_div_header
            {
                display: flex;
                justify-content: space-between;
                align-items: center;                                            
                padding: 10px ;
            }
            .content_classs
            {
                font-size: 18px;
                margin-bottom: 15px !important;
                img
                {
                    width: 100% !important;
                }                
            }
            .sociai_user_div
            {
                display: flex;
                align-items: center;
                margin: 10px !important;
                .Blog_comment_icon
                {
                    margin-left: 18px !important;

                    .anticon-comment
                    {
                        font-size: 20px;
                    }
                    .blog_total_comment
                    {
                        font-size: 10px;
                        color: gray;
                        cursor: pointer;
                        margin-left: 1px !important;
                        margin-top: 3px !important;                    
                    }
                }
            }            
        }
    }
    .blog_load_button
    {
        margin:20px 0px;
    }
}