.ChatContainer
{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;


    .ChatSidebar,.SelectedChatSidebar
    {
        width: 20%;
        background-color: green;
        height: 100%;    
        
        .ChatSidebar__Search
        {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 0px 5px;
            width: 100%;
            input 
            {
                border: none;
                height: 40px;
                width: 100%;
                outline-width: 0px;
                font-size: medium;
            }

            .ChatGroup__Search
            {
                margin-right: 5px !important;
                color: gray;
                font-size: 20px;
            }
        }
    }

    @media(max-width:600px)
    {
        .SelectedChatSidebar
        {
            width: 100%;
        }
    }

    .ChatBox,.SelectedChatBox
    {
        display: flex;
        flex-direction: column;
        width: 100%;

        .ChatBox__Header
        {

            height: 50px;
            background-color: gray;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;   
            
            .ChatBox__HeaderLeft
            {
                margin-left: 20px !important;
                @media(max-width:600px)
                {
                    &{
                        margin-left: 0px !important;
                    }
                }
                .ChatBox__HeaderLeftArrow
                {                    
                    margin: 0px 10px !important;
                    font-size: 20px !important;
                    cursor: pointer;
                    display: none;

                    @media(max-width:550px)
                    {
                        &
                        {
                            display: inline;
                        }
                        
                    }
                }                
                display: flex;
                align-items: center;
                .chatBox__HeaderLeftContainer
                {
                    display: flex;
                    flex-direction: column;
                .HeaderTitle
                {
                    font-size: 16px;
                    margin-left: 10px !important;
                }
                .HeaderBio
                {
                    font-size: 12px;
                    margin-left: 10px;
                }
              }
            }
            .ChatBox__HeaderRight
            {
                margin-right: 15px !important;

                .Notification__Icon
                {
                    font-size: 20px;
                    margin-right: 30px;
                }

                .MoreOutLined__Icon
                {
                    margin-right: 10px;
                }
            }

        }
        .ChatBox__MessageContainer
        {
            flex: 1;
            overflow-y: auto;
        }
        .ChatBox__Footer
        {
            display: flex;            
        }
    }

    @media(max-width:500px)
    {
        .SelectedChatBox
        {
            display: none;
        }
    }
}

@media(max-width:600px)
{
.ChatSidebar
{
    display: none;    
}

.SelectedChatBox
{
    display: none;
}
}

