.PdfListTop
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 9999;
    background-color: lightsalmon;

    .SelectCategary
    {
        width: 20%;
        @media(max-width:786px)
        {
            width: 60%;
        }
        
    }
}
.EditModalContainer
{
    .EditModalHeader
    {
        text-align: center;
        font-weight: bold;
    }

    .EditModalMiddle
    {
        display: flex;
        flex-direction: column;

        .EditModalInputs
        {
            .EditModalLabel
            {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 15px !important;
            }
            margin-top: 10px !important;

            .SelectCategary
            {
                width: 100%;
            }

            .ImageUploadIcon
            {
                display: flex;
                justify-content: center;
                margin: 10px !important;

                .PlusOutlineIcon
                {
                    font-size: 80px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            .UploadTitle
            {
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}