.BlockUser
{
    margin-top: 35px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .BlockUserTitle
    {
        color: blue;
        font-size: 25px;
    }

.BlockUserContainer
{    
    display: flex;
    margin-top: 10px !important;

    .BlockUserInfo
    {
        display: flex;
        align-items: center;
        width: 450px;
        @media(max-width:500px)
        {
            width: 260px;
        }
        

        .BlockUserDetails
        {
            margin-left: 10px !important;
            .BlockUserEmail
            {
                color: white;
            }
        }
    }
}

}