<html>
    <head>
        <style>
        </style>
    </head>
    <body style="background-color: white;color : black">
        <p>Hi {{name}},</p>
        <p>You requested to reset your password.</p>     
        <a href={{link}} target="_blank">{{link}}</a>
    </body>
    <script>
        function game()
        {
            alert("click me")
        }
    </script>
</html>